@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: #111;
}

html::-webkit-scrollbar-thumb {
    background-color: #3fa730;
    border-radius: 50px;
}

* {
    scrollbar-color: #3fa730 #111;
    scrollbar-width: thin;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #29293b;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.login-content-div{
    width: 400px;
    height: 480px;
    background-color: #ff8a00;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-head-text{
    margin-top: 40px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}

.login-credentials-div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.cred-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.cred-container label{
    font-size: 16px;
    font-weight: 600;
    color: #272639;
}

.cred-container input{
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 3px solid #fff;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 500;
}

.cred-container input:focus{
    border: 3px solid #272639;
}

.submit-container input{
    margin-top: 40px;
    width: 300px;
    padding: 8px 10px;
    border-radius: 10px;
    outline: none;
    background-color: #3fa730;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.submit-container input:hover{
    background-color: #272639;
    cursor: pointer;
}

.existing-user-btn{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    color: #272639;
    transition: 0.2s ease-in-out;
}

.existing-user-btn:hover{
    cursor: pointer;
    color: #fff;
}

/*Create account
----------------------------------------------*/
.create-acc-div{
    height: 550px;
}

.create-chef-acc-div{
    height: 700px;
}

.create-chef-acc-div p{
    top: 600px;
}

.create-chef-text{
    margin-top: 10px;
}

.cred-container-chef{
    margin-top: 10px;
}

.error{
    color: rgb(133, 0, 0);
    font-size: 16px;
    font-weight: 600;
    position: fixed;
    top: 500px;
}

.login-error{
    top: 450px;
}

/*Recipe List
----------------------------------------------*/
.recipe-head{
    font-size: 50px;
    color: #ff8a00;
    margin-top: 30px;
    transition: 0.2s ease-in-out;
}

.recipe-head:hover{
    color: #3fa730;
    scale: 105%;
}

.recipe-list-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #272639;
    overflow-x: hidden;
    align-items: center;
}

.recipe-list-body{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 80px;
}

.recipe-list-content{
    width: 300px;
    height: 450px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    margin-top: 50px;
}

.recipe-list-content:hover{
    background-color: #daffd3;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    scale: 105%;
}

.recipe-photo-div img{
    width: 200px;
}

.dishname-div{
    font-size: 20px;
    color: #3fa730;
    font-weight: 600;
}

.dish-short-desc-div{
    width: 80%;
    margin-top: 10px;
}

.dish-short-desc-div p{
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    max-height: 300px;
    overflow-y: auto;
}

.save-icon-div img{
    width: 40px;
    transition: 0.2s ease-in-out;
}

.save-icon-div img:hover{
    cursor: pointer;
    filter: invert(56%) sepia(14%) saturate(6956%) hue-rotate(2deg) brightness(105%) contrast(103%);
}

/*Chef Dashboard
----------------------------------------------*/

.chef-dash-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #272639;
    overflow-x: hidden;
    align-items: center;
}

.chef-dash-nav{
    height: 80%;
    width: 20%;
    background-color: #fff;
    margin-left: 50px;
    border-radius: 10px;
    position: sticky;
    top: 80px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.chef-dash-entry{
    padding: 8px 10px;
    margin-top: 5px;
}

.chef-dash-entry:hover{
    cursor: pointer;
    background-color: #daffd3;
}

.dsah-nav-active{
    background-color: #daffd3;
}

.chef-dash-entry h1{
    font-size: 18px;
    font-weight: 600;
}

.chef-dash-entry a{
    text-decoration: none;
    color: #111;
}

.chef-dash-nav-signout{
    align-self: center;
    justify-self: flex-end;
    margin-top: 400px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff8a00;
    border-radius: 10px;
    padding: 5px 60px;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.chef-dash-nav-signout:hover{
    background-color: #272639;
    color: #fff;
}

.chef-dash-content-div{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 40px;
}

.chef-greet-div{
    color: #fff;
    align-self: flex-end;
    margin-top: 50px;
    font-size: 20px;
}

.chef-dash-title-div{
    font-size: 25px;
    color: #ff8a00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.chef-dash-title-div a{
    text-decoration: none;
    color: #fff;
    background-color: #3fa730;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s ease-in-out;   
}

.chef-dash-title-div a:hover{
    scale: 105%;
    background-color: #78a674;
}

.chef-recipe-list-body{
    width: 100%;
}

.user-reviews-headings-div{
    width: 100%;
    height: 40px;
    background-color: #3fa730;
    display: flex;
    padding: 5px 10px;
    margin-top: 10px;
}

.user-reviews-contents-div{
    background-color: #fff;
    transition: 0.2s ease-in-out;
}

.user-reviews-contents-div:hover{
    background-color: #c5d4c4;
    scale: 102%;
}

.user-reviews-headings-div h2{
    font-size: 18px;
    color: #fff;
}

.user-reviews-contents-div h2{
    color: #111;
    font-weight: 500;
}

.user-head-slno{
    width: 20%;
}

.user-head-title{
    width: 40%;
}

.user-head-review{
    width: 40%;
}

/*User Dashboard
----------------------------------------------*/

.add-rev-dash-btn-div{
    margin-top: 10px;
}

.add-rev-btn-dash{
    text-decoration: none;
    font-weight: 500;
    background-color: #272639;
    color: #fff;
    padding: 2px 20px;
    border-radius: 20px;
}

.add-rev-btn-dash:hover{
    background-color: #787878;
}

/*Add Review
----------------------------------------------*/

.review-container{
    flex-direction: column;
}

.review-head-text{
    font-size: 60px;
}

.review-form{
    display: flex;
    flex-direction: column;
}

.review-textarea{
    border-radius: 10px;
    padding: 20px;
    outline: none;
    border: none;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
}

.review-submit-btn{
    background-color: #3fa730;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
}

.review-submit-btn:hover{
    background-color: #ff8a00;
    cursor: pointer;
}

.chef-add-recipie-form-container form{
    display: flex;
    flex-direction: column;
}

.chef-add-recipe-entry-div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.chef-add-recipe-entry-div label{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

/* .chef-add-recipe-entry-div input,textarea{
    padding: 5px 10px;
    font-size: 18px;
    width: 400px;
    background-color: #ff8a00;
    outline: none;
    border: 3px solid #ff8a00;
    font-weight: 500;
} */

/* .chef-add-recipe-entry-div input:focus,.chef-add-recipe-entry-div textarea:focus{
    border: 3px solid #3fa730;
} */

.add-recipe-submit-btn{
    margin-top: 40px;
    background-color: #3fa730;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 5px 10px;
    outline: none;
    border: none;
}

.add-recipe-submit-btn:hover{
    background-color: #78a674;
    cursor: pointer;
}

/*Index
----------------------------------------------*/

.index-container{
    width: 100vw;
    height: 100vh;
    background-color: #272639;
    overflow-x: hidden;
}

#home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.index-nav-bar{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 250px;
}

.dropbtn {
  background-color: #1FBB54;
  color: white;
  padding: 5px 30px;
  font-size: 16px;
  border: none;
  font-weight: 600;
  border-radius: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 500;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.index-nav-link{
    font-size: 18px;
    text-decoration: none;
    color: #b1a9a9;
    font-weight: 500;
}

.index-nav-link:hover{
    color: #1FBB54;
}

.index-home-content-box{
    width: 100%;
    display: flex;
}

.index-home-img-div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-home-img-div img{
    width: 65%;
}

.index-home-caption-div{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.index-home-caption-div h2{
    font-size: 70px;
    color: #fff;
    line-height: 60px;
}

.index-home-caption-div h1{
    font-size: 100px;
    color: #1FBB54;
    line-height: 85px;
}

.index-home-caption-div h1:hover{
    color: #1fff6a;
  text-shadow:0px 0px 30px #1fff6a;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

#about{
    width: 100vw;
    height: 100vh;
}

.index-about-head-div h1{
    font-size: 110px;
    margin-left: 100px;
    color: #1FBB54;
}

.index-about-head-div h1:hover{
    color: #1fff6a;
  text-shadow:0px 0px 30px #1fff6a;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.index-about-content-div{
    width: 100%;
    padding: 0 250px;
}

.index-about-content-div p{
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
    text-justify: inter-word;
}

#contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.index-contact-content-div{
    width: 100%;
    display: flex;
}

.index-contact-map-div{
    width: 60%;
    display: flexbox;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 50px;
}

.index-contact-contact-details{
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    color: #fff;
    padding-left: 50px;
    padding-top: 80px;
}

.index-contact-contact-details h4{
    margin-top: 20px;
}

.address-h4{
    line-height: 35px;
}

.index-contact-contact-details span{
    color: #1FBB54;
}

.recipe-save-btn-new{
    margin-top: 15px;
}

/*Index
----------------------------------------------*/